@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

header {
	font-family: alice;
	font-size: 16px;
	color: #AE5D03;
}

nav {
	font-family: alice;
	font-size: 14px;
}

#bio {
	font-family: alice;
	font-size: 14px;
}

#display-4 {
	font-family: alice;
	font-size: 16px;
	color: #AE5D03;
}

#lead {
	font-family: alice;
	font-size: 14px;
}

#my-4 {
	color: #717171;
	font-family: Fira Sans;
	font-size: 14px;
}