@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

header {
	font-family: alice;
	font-size: 18px;
	color: #AE5D03;
}

p {
	font-family: alice;
	font-size: 16px;
}

nav {
	font-family: alice;
	font-size: 16px;
}

.jumbotron {
	background-color: #DBAE81 !important;
}

.bio {
	font-family: alice;
	font-size: 16px;
}

.display-4 {
	font-family: alice;
	font-size: 20px;
	color: #AE5D03;
}

.lead {
	font-family: alice;
	font-size: 16px;
}

.my-4 {
	color: #717171;
	font-family: Fira Sans;
	font-size: 16px;
}